<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
    <div class="container">
      <h1>My<strong> movies </strong>list!</h1>
      <p>Your movies all in one place.</p>
    </div>
</div>
  <br>
<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col">
        <div class="card-category card-hghlght demo-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cloudinary_pic(list) %>')">
            <li><%= link_to list.name , list_path(list) %></li>
          </div>
        </div>
    <% end %>
    <div class="col">
      <div class="card-category card-hghlght demo-card">
        <button type="button" class="btn btn-flat" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Add a new list
        </button>
      </div>
    </div>
  </div>
</div>
<br>




<%= render "modal" %>
