.demo {
  height: 1000px;
  width: 1200px;
  margin: 80px auto 0 auto;
}

.demo-card{
  background: linear-gradient(132deg, rgba(2,0,36,1) 0%, rgb(65, 9, 121) 0%, rgb(255, 0, 251) 100%);
  border-radius: 20px;
  box-shadow: 15px 15px 25px -25px rgba(0,0,0,0.8);
  height:300px;
  width:350px;
}
/* ===== FOR DEMO ===== */
/* ===== MAIN CODE ===== */
.content {
  display: flex;
  align-items: top;
  justify-content: space-evenly;
  pointer-events: none;
  transition: all 0.4s;
}

.card-hghlght {
  pointer-events: auto;
  transform: scale(1);
  transition: all 0.4s;
}

.card-hghlght:hover {
  opacity: 1;
  transform: scale(1.02);
}

.content:hover .card-hghlght:not(:hover) {
  opacity: 0.5;
  transform: scale(0.9);
}
/* ===== MAIN CODE ===== */
