.navbar-lewagon {
  justify-content: space-between;
  background: white;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}
